@font-face {
    font-family: 'tello';
    src: url('https://raw.githubusercontent.com/Romantech3000/assets/master/homework-a/fonts/fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #222;
}

.header {
    height: 100px;
    width: 100%;
    box-shadow: 01px 3px 5px rgba(0, 0, 0, 0.5);
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1140px;
}

.header-flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.btn {
    color: #fff;
    background-color: #c23;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #c23;
}

.btn:hover {
    background-color: #fff;
    color: #c23;
    border: 1px solid #c23;
}

.products {
    margin: 50px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    flex: 0 1 250px;
    margin-bottom: 15px;
}

.product-item:hover {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.product-item-title {
    margin-top: 5px;
    color: #c23;
    text-transform: uppercase;
    border-top: 1px solid #c23;
    border-bottom: 1px solid #c23;
}

.product-item-bottom-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.product-item-price {
    font-weight: 700;
    color: #000;
    font-size: 24px;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

.cart-item-flex {
    display: flex;
    align-content: center;
    border-bottom: 1px solid #ccc;
    padding: 8px 5px;
}

.cart-item-w1,
.cart-item-w3 {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart-item-w3 {
    width: 180px;
}

.cart-img {
    width: 100px;
    height: 100px;
}

.cart-item-price {
    font-weight: 400;
    color: #000;
    font-size: 14px;
    margin: 0;
}

.del-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.del-btn::before {
    font-family: 'tello';
    font-size: 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
    content: '\e80c';
    color: #555;
    padding: 10px;
}

.del-btn:hover::before {
    color: #c23;
}

.cart__total-flex {
    display: flex;
    justify-content: space-between;
}

.cart-total {
    font-weight: 700;
    font-size: 24px;
    margin: 25px 0px 5px;
}

.cart {
    display: block;
    position: absolute;
    top: 50px;
    right: -20px;
    width: 350px;
    min-height: 100px;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #c23;
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.cart::before {
    position: absolute;
    display: block;
    height: 0;
    box-sizing: border-box;
    width: 0;
    top: -11px;
    right: 40px;
    content: '';
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #c23;    
}

.cart::after {
    position: absolute;
    display: block;
    height: 0;
    box-sizing: border-box;
    width: 0;
    top: -10px;
    right: 40px;
    content: '';
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;

}

.header-right {
    display: flex;
    position: relative;
}

.search-form {
    display: flex;
}

.search-form__input {
    width: 250px;
}

.search-form__btn:hover::before {
    color: #c23;
}

.search-form__btn::before {
    font-family: 'tello';
    font-size: 18px;
    display: inline-block;
    height: 20px;
    width: 20px;
    content: '\e800';
    color: #fff;
    padding: 0;
}

.input {
    padding: 10px 12px;
}

.modal-bg {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    background-color: rgba(10, 10, 10, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-central-pane {
    position: relative;
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 5px;
    width: 800px;
    padding: 0px 0px 20px;
}

.modal-title {
    margin-top: 0px;
    border-radius: 5px 5px 0 0;
    background-color: #c23;
    color: #fff;
    padding: 8px;
}

.modal-text {
    font-size: 20px;
    text-align: center;
}

.modal-btn {
    min-width: 120px;
}

.modal-btn-wrap {
    text-align: center
}